{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Cadastro</title>
</head>
<body>

    <div class="container">

        <div class="icon-area">
            <img src="{% static 'img/icone-login.png' %}" alt="User">
        </div>

        <div class="form-area">

            <form method="POST">
                {% csrf_token %}

                <input type="email" name="email" placeholder="Email" class="input-field">

                <div style="display: flex; gap: 10px; margin-bottom: 12px;">
                    <input type="text" name="first_name" placeholder="Nome" class="input-field" style="margin-bottom: 0;">
                    <input type="text" name="last_name" placeholder="Sobrenome" class="input-field" style="margin-bottom: 0;">
                </div>

                <input type="password" name="senha1" placeholder="Senha" class="input-field">
                <input type="password" name="senha2" placeholder="Confirme a senha" class="input-field">

                <button type="submit" class="login-btn" style="width:100%;">
                    Cadastre-se
                </button>

            </form>

            <p class="signup-text">
                Já tem conta? <a href="{% url 'login' %}" class="signup-link">Faça login</a>
            </p>

        </div>

    </div>

</body>
</html>
