{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinição enviada</title>

    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>

<body>

    <div class="reset-container">
        <div class="reset-card">

            <h2>Verifique seu email</h2>

            <p>
                Enviamos um link para você redefinir sua senha.<br>
                Caso não encontre, verifique também sua caixa de spam.
            </p>

            <a href="{% url 'login' %}" class="reset-back">
                Voltar ao login
            </a>

        </div>
    </div>

</body>
</html>
