{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Triviva</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <a href="{% url 'login' %}" class="login">
    <img src="{% static 'img/icone-login.png' %}" alt="Login" class="login-icon">
    LOGIN
  </a>

  <img src="{% static 'img/logo-triviva.png' %}" alt="Logo Triviva" class="logo">

  <h2>Selecione o modo de jogo</h2>

  <div class="modes">

    <a href="{% url 'quiz:pagina_modo_nacional' %}">
      <img src="{% static 'img/icone-brasil.png' %}" alt="Modo Brasil" class="mode">
    </a>

    <a href="{% url 'quiz:pagina_modo_global' %}">
      <img src="{% static 'img/icone-mapa.png' %}" alt="Modo Internacional" class="mode">
    </a>

    <a href="{% url 'quiz:pagina_modo_ranqueado' %}">
      <img src="{% static 'img/icone-trofeu.png' %}" alt="Modo Competitivo" class="mode">
    </a>

    <a href="{% url 'quiz:pagina_modo_relogio' %}">
      <img src="{% static 'img/icone-relogio.png' %}" alt="Modo Relógio" class="mode">
    </a>

  </div>

</body>
</html>
