{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Triviva</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

  <a href="#" class="login">
    <img src="icone-login.png" alt="Login" class="login-icon">
    LOGIN
  </a>

  <img src="logo-triviva.png" alt="Logo Triviva" class="logo">

  <h2>Selecione o modo de jogo</h2>

  <div class="modes">
    <a href="modo-nacional.html">
      <img src="icone-brasil.png" alt="Modo Brasil" class="mode">
    </a>

    <a href="modo-global.html">
      <img src="icone-mapa.png" alt="Modo Internacional" class="mode">
    </a>

    <a href="modo-ranqueado.html">
      <img src="icone-trofeu.png" alt="Modo Competitivo" class="mode">
    </a>

    <a href="modo-relogio.html">
      <img src="icone-relogio.png" alt="Modo Relógio" class="mode">
    </a>
  </div>


</body>
</html>
