{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Global</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body class="global-bg">
    <div class="container">
        <div class="text-section">
            <h1>GLOBAL</h1>
            <p>Explore a cultura de todos os cantos do mundo.</p>
        </div>

        <div class="image-section">
            <img src="{% static 'img/icone-mapa.png' %}" alt="Mapa do mundo" class="main-icon">
        </div>

        <div class="game-mode">
            <h2>Selecione o modo de jogo</h2>
            <div class="icons">
                <a href="{% url 'quiz:modo_nacional' %}">
                    <img src="{% static 'img/icone-brasil.png' %}">
                </a>
                <a href="{% url 'quiz:modo_global' %}">
                    <img src="{% static 'img/icone-mapa.png' %}">
                </a>
                <a href="{% url 'quiz:modo_ranqueado' %}">
                    <img src="{% static 'img/icone-trofeu.png' %}">
                </a>
                <a href="{% url 'quiz:modo_relogio' %}">
                    <img src="{% static 'img/icone-relogio.png' %}">
                </a>
            </div>
        </div>

        <a href="{% url 'quiz:modo_global' %}" class="play-btn">JOGAR</a>
    </div>
</body>
</html>
