{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pergunta {{ numero }}</title>
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
</head>

<body>

<div class="quiz-container">
    {% if request.session.modo == "relogio" %}
    <div class="timer-box">
        ⏳ Tempo restante: <span id="tempo">10</span>s
    </div>
    {% endif %}
    <h2>Pergunta {{ numero }} / {{ total }}</h2>

    <p class="enunciado">{{ pergunta.enunciado }}</p>

    <form method="POST" action="{% url 'quiz:responder' %}">
        {% csrf_token %}
        <div class="alternativas">
            {% for alt in alternativas %}
                <label class="alternativa">
                    <input type="radio" name="alternativa" value="{{ alt.id }}" required>
                    {{ alt.texto }}
                </label>
            {% endfor %}
        </div>

        <button type="submit" class="botao-responder">Responder</button>
    </form>
</div>

{% if request.session.modo == "relogio" %}
<script>
let tempo = 10;

const textoTempo = document.getElementById("tempo");

// contador regressivo
let intervalo = setInterval(() => {
    tempo--;
    textoTempo.textContent = tempo;

    if (tempo <= 0) {
        clearInterval(intervalo);

        // envia para página de resultado automaticamente
        window.location.href = "{% url 'quiz:resultado' %}";
    }
}, 1000);
</script>
{% endif %}

</body>
</html>
