{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">
</head>

<body>

<h1>Ranking</h1>

<table class="ranking-table">
    <tr>
        <th>Usuário</th>
        <th>Pontos</th>
        <th>Data</th>
    </tr>

    {% for p in ranking %}
    <tr>
        <td>{{ p.usuario.username }}</td>
        <td>{{ p.pontos }}</td>
        <td>{{ p.data|date:"d/m/Y H:i" }}</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'quiz:homepage' %}" class="botao-voltar">Voltar</a>

</body>
</html>
